body {
    background-color: rgb(228, 164, 28);
    font-size: 0.9rem;
    font-family: monospace;
}

.container-logo {}

.logo {
    height: 70px;
    width: auto;
}

.navbar-bg-color {
    background-color: rgb(201, 137, 1);
}

.icons {
    height: 0px;
    width: auto;
}

.navbar-nav, .nav-item {
    display: inline-block;
    margin-left: 17px;
    margin-right: 17px;
}

.nav-item :hover {
   

}

.nav-item-right {
    margin-left: 13px;
    margin-right: 13px;
}

.nav-item-search {
    margin-right: 70px;
}

.navbar {
    max-height: 5rem
}