body {
    background-color: #f3c634;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.logo {
    height: 180px;
    width: auto;
}

.contenido-main {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: lightgray
}

.div-buttons-register {
    transform: translateY(50px)
}

input {
    height: 35px;
    width: auto;
    border-radius: 5px
}

button {
    border-radius: 5px
}

.main-main {
    background-color: rgb(238, 212, 64);
    padding: 40px;
    border-radius: 15px;
}

.nav {
    background-color: #fb8c00;
    min-height: 50px
}