<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="Style/materialize.min.css" media="screen,projection" />
<link rel="stylesheet" type="text/css" media="screen" href="Style/home.css">
<script src="Script/home.js"></script>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="Script/materialize.min.js"></script>
<title>Musiker</title>
</head>

<body>
    {{{body}}}
</body>



</html>