<header>
    <!-- 
                    <img class="logo" src="Resources/logo.png">
             
        
                    <form class="form-inline">
                        <i class="fas fa-search fa-2x" aria-hidden="true"></i>
                        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="buscar..."
                            aria-label="Search">
                    </form>
                
               
                    <i class="icons fas fa-user-circle fa-2x"></i>
                
                    <i class="icons fas fa-cog fa-2x"></i>
         -->
    <div class="navbar-fixed">
        <nav class="orange darken-1">
            <div class="nav-wrapper">
                <a href="/home" class="brand-logo"> <img class="logo" src="Resources/logo.png"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <form>
                            <div class="input-field  orange darken-2">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </li>
                    <li><span class="header username" style="font-size: 14px">Bienvenido/a, {{username}}</span></li>
                    <li><a href=""><i class="icons fas fa-user-circle fa-2x"></i></a></li>
                    <li><a class="header logout" href="/logout">Salir</a></li>
                    <li><a href=""><i class="icons fas fa-cog fa-2x"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main>
    <!-- class="amber accent-3"-->
    <div class="container">
        <div class="row c-bg">
            <div class="col s12 green" style="display:none">
                <p>s12</p>
                <div id="feed">
                    <div class="feed-posts">
                        <!--DIV PARA AGREGAR POSTEOS-->
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l2">
                <p>s12 m4</p>

            </div>
            <div class="col s12 m4 l8 yellow lighten-5">
                <div id="div-post-container">
                    <div oncli-ck="window.location.href='www.facebook.com'" class="white" id="post-div">
                        <form id="to-post" action="">
                            <input type="text" placeholder="Realiza un posteo..." id="post-text">
                            <button class="col s2 offset-s10" id="post-button">Postear</button>
                        </form>
                        <!--
                            DIV FLOTANTE FORM PARA REALIZAR POSTEOS
                            
                        -->
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="div-post-float" id="post-float-input">
                    <input type="text" placeholder="Título" id="title">
                    <input type="text" placeholder="Descripción" id="description">
                    <input type="file" name="adjuntá foto" id="post-image">
                    <label for="time-availability">Disponibilidad Horaria</label>
                    <select id="time-availability">
                        <option value="" disabled selected>Elegí</option>
                        <option value="mañana">mañana</option>
                        <option value="tarde">tarde</option>
                        <option value="noche">noche</option>
                        <option value="full">full</option>
                    </select>
                    <label for="played-instrument">Tipo de músico que buscás</label>
                    <select id="played-instrument">
                        <option value="" disabled selected>Elegí</option>
                        <option value="canto">canto</option>
                        <option value="bajo">bajo</option>
                        <option value="guitarra">guitarra</option>
                        <option value="batería">batería</option>
                        <option value="teclado">teclado</option>
                    </select>
                    <label for="city">Ciudad</label>
                    <select id="city">
                        <option value="Agronomía">Agronomía</option>
                        <option value="Almagro">Almagro</option>
                        <option value="Balvanera">Balvanera</option>
                        <option value="Barracas">Barracas</option>
                        <option value="Belgrano">Belgrano</option>
                        <option value="Boedo">Boedo</option>
                        <option value="Caballito">Caballito</option>
                        <option value="Chacarita">Chacarita</option>
                        <option value="Coghlan">Coghlan</option>
                        <option value="Colegiales">Colegiales</option>
                        <option value="Constitución">Constitución</option>
                        <option value="Flores">Flores</option>
                        <option value="Floresta">Floresta</option>
                        <option value="La Boca">La Boca</option>
                        <option value="La Paternal">La Paternal</option>
                        <option value="Liniers">Liniers</option>
                        <option value="Mataderos">Mataderos</option>
                        <option value="Monte Castro">Monte Castro</option>
                        <option value="Monserrat">Monserrat</option>
                        <option value="Nueva Pompeya">Nueva Pompeya</option>
                        <option value="Núñez">Núñez</option>
                        <option value="Palermo">Palermo</option>
                        <option value="Parque Avellaneda">Parque Avellaneda</option>
                        <option value="Parque Chacabuco">Parque Chacabuco</option>
                        <option value="Parque Chas">Parque Chas</option>
                        <option value="Parque Patricios">Parque Patricios</option>
                        <option value="Puerto Madero">Puerto Madero</option>
                        <option value="Recoleta">Recoleta</option>
                        <option value="Retiro">Retiro</option>
                        <option value="Saavedra">Saavedra</option>
                        <option value="San Cristóbal">San Cristóbal</option>
                        <option value="San Nicolás">San Nicolás</option>
                        <option value="San Telmo">San Telmo</option>
                        <option value="Vélez Sársfield">Vélez Sársfield</option>
                        <option value="Versalles">Versalles</option>
                        <option value="Villa Crespo">Villa Crespo</option>
                        <option value="Villa del Parque">Villa del Parque</option>
                        <option value="Villa Devoto">Villa Devoto</option>
                        <option value="Villa General Mitre">Villa General Mitre</option>
                        <option value="Villa Lugano">Villa Lugano</option>
                        <option value="Villa Luro">Villa Luro</option>
                        <option value="Villa Ortúzar">Villa Ortúzar</option>
                        <option value="Villa Pueyrredón">Villa Pueyrredón</option>
                        <option value="Villa Real">Villa Real</option>
                        <option value="Villa Riachuelo">Villa Riachuelo</option>
                        <option value="Villa Santa Rita">Villa Santa Rita</option>
                        <option value="Villa Soldati">Villa Soldati</option>
                        <option value="Villa Urquiza">Villa Urquiza</option>
                    </select>
                    <button onclick="getInfoToDoNewPost();" class="col s2 offset-s10" id="post-button">Postear</button>
                </div>
                <p>s12 m4</p>
                <p>s12 m4</p>
                <p>s12 m4</p>
                <p>s12 m4</p>

                <p>s12 m4</p>
                <p>s12 m4</p>
                <p>s12 m4</p>
                <p>s12 m4</p>

            </div>
            <div class="col s12 m4 l2">
                <p>s12 m4</p>
            </div>
        </div>
    </div>

</main>


<footer class="page-footer deep-orange darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                    content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <!--<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>

</footer>